@model Project.Models.AdvertisementModel
 
@{
    ViewData["Title"] = "EFR";
}
    <div class="row py-5 my-3 justify-content-center panel-minor">
        <h1 class="">Szczegóły ogłoszenia</h1>
    </div>
        <div class="row justify-content-center col-md-12 mx-auto text-center">
            <div>               
                <dl class="row justify-content-center">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.AdvertisementType)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.AdvertisementType)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Owner.Name)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Owner.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Owner.Surname)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Owner.Surname)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <div class="col-md-6 text-center col-sm-12">
                <h2 class="my-3 border-bottom">Informacje o mieszkaniu</h2>

                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Flat.KitchenType)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Flat.KitchenType)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Flat.RoomsCount)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Flat.RoomsCount)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Flat.Surface)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Flat.Surface)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Flat.City)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Flat.City.CityName)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 text-center col-sm-12">
                <h2 class="my-3 border-bottom">Informacje o pokoju</h2>

                <dl class="row">
                    <dt class="col-sm-6">
                        Powierzchnia
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.RoomSurface
                    </dd>
                    <dt class="col-sm-6">
                        Balkon
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.RoomBalcony
                    </dd>
                    <dt class="col-sm-6">
                        Szafa
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.RoomWardrobe
                    </dd>
                    <dt class="col-sm-6">
                        Łóżko
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.RoomBed
                    </dd>
                    <dt class="col-sm-6">
                        Dodatkowe informacje
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.RoomAdd
                    </dd>
                    <dt class="col-sm-6">
                        Cena
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.RoomRent zł miesięcznie
                    </dd>
                </dl>
            </div>
        </div>
        <div class="mt-5">
            <a asp-action="Index">Powrót</a>
        </div>
