@model Project.Models.AdvertisementModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdvertisementModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flat.FlatID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdvertisementID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
