@model IEnumerable<Project.Models.AdvertisementModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row py-5 my-3 justify-content-center panel-minor">
    <h2 class="">OGŁOSZENIA   WYNAJMU</h2>
</div>

<div class="row p-1">

    <table class=" table col-lg-8 mx-auto col-md-10  table-striped ">
        <thead>
            <tr>
                <th>
                    Typ Ogłoszenia
                </th>
                <th>
                    Właściciel
                </th>
                <th>
                    Mieszkanie
                </th>
                <th>Czat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvertisementType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flat.FlatID)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Chat" asp-action="index" asp-route-id="@item.OwnerID">Wiadomość</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AdvertisementID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AdvertisementID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AdvertisementID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row p-5 justify-content-center">

    <a asp-action="Create" class="btn btn-primary">Stwórz własne ogłoszenie</a>

</div>
