@model IEnumerable<Project.Models.AdvertisementModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row py-5 my-3 justify-content-center panel-minor">
    <h2 class="">MOJE OGŁOSZENIA</h2>
</div>

<div class="row p-1">

    <table class=" table col-lg-7 mx-auto col-md-10  table-striped alig box-shadow">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.AdvertisementType)
                </th>
                <th>Edycja/Wyświetl Szczegóły/Usuń Ogłoszenie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvertisementType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AdvertisementID">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.AdvertisementID">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.AdvertisementID">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row p-5 justify-content-center">

    <a asp-action="Create" class="btn btn-primary">Stwórz własne ogłoszenie</a>

</div>
