@model UserModel


@{
    ViewData["Title"] = "Details";
    var owner = (OwnerModel)ViewData["Owner"];
}

<h1>Konto @Model.Login</h1>

<div>
    <hr />
    <h2>Dane konta</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>

    </dl>
    <a asp-controller="Account" asp-action="ChangePassword" asp-route-id="@Model.UserID">Zmień hasło</a> |
    <a asp-controller="Account" asp-action="Delete" asp-route-id="@Model.UserID">Usuń konto</a>
    <br /><hr />
    <h2>Dane właściciela</h2>
    <dl class="row">
        <dt class="col-sm-2">
            Imię właściciela
        </dt>
        <dd class="col-sm-10">
            @owner.Name
        </dd>
        <dt class="col-sm-2">
            Nazwisko właściciela
        </dt>
        <dd class="col-sm-10">
            @owner.Surname
        </dd>
    </dl>
    <a asp-controller="OwnerModels" asp-action="Edit" asp-route-id="@owner.OwnerID">Edytuj dane właściciela</a>
    <br /><hr />

</div>
