@model Project.Models.TenantModel

@{
    ViewData["Title"] = "Details";
}


    <div class="row justify-content-center my-5">
        <div class="col-lg-6  col-md-10">
            <div class=" panel-minor  text-center my-5">
                <h2 class="">Szczegóły</h2>
            </div>

            <table class="table table-striped box-shadow my-4 word-wrapper">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Surname)</th>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <th>Palący?</th>
                        <th>Wege?</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <th>Płeć</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                        <td> @Html.DisplayFor(model => model.Surname)</td>
                        <td>@Html.DisplayFor(model => model.Age)</td>
                        <td> @Html.DisplayFor(model => model.IsSmoking)</td>
                        <td> @Html.DisplayFor(model => model.IsVege)</td>
                        <td>  @Html.DisplayFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.Gender)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div class="p-3">
    <a asp-controller="Account" asp-action="Details">Powrót</a>
</div>
