@model IEnumerable<Project.Models.TenantModel>




<p>
    <a asp-action="Show">See pairs</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSmoking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVege)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSmoking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            @if (item.UserID == ViewBag.AbleToModify)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TenantID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TenantID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TenantID">Delete</a> |
                </td>
            }
            

        </tr>
        }
    </tbody>
</table>
